<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body>

<h2>Welcome! Each of the following categories below are important to seeing how the Ivy Leagues will judge your essay.</h2>
<br>
<p>Each category is graded on a 1-3 scale. Please grade yourself honestly.</p>

<h2>Category #1: Essay Sophistication</h2>
<p>For this category, you are gauging whether you used proper English conventions and made your essay in a professional manner.</p>

<table style="width: 100%;">
    <colgroup>
        <col span="1" style="background-color: #ae1c2d">
    </colgroup>
    <colgroup>
        <col span="1" style="background-color: #dbee0f">
    </colgroup>
    <colgroup>
        <col span="1" style="background-color: #0fee6c">
    </colgroup>

    <tr>
        <th>1 POINT</th>
        <th>2 POINTS</th>
        <th>3 POINTS</th>
    </tr>
    <tr>
        <td>Explanation</td>
        <td>Explanation</td>
        <td>Explanation</td>
    </tr>
</table>

<h2>Category #2: Diversification from other Applicants</h2>
<p>For this category, you are thinking about how UNIQUE your essays are. Do you think they will truly set you apart from other candidates?</p>

<table style="width: 100%;">
    <colgroup>
        <col span="1" style="background-color: #ae1c2d">
    </colgroup>
    <colgroup>
        <col span="1" style="background-color: #dbee0f">
    </colgroup>
    <colgroup>
        <col span="1" style="background-color: #0fee6c">
    </colgroup>

    <tr>
        <th>1 POINT</th>
        <th>2 POINTS</th>
        <th>3 POINTS</th>
    </tr>
    <tr>
        <td>Explanation</td>
        <td>Explanation</td>
        <td>Explanation</td>
    </tr>
</table>

<h2>Category #3: Tone</h2>
<p>For this category, it is important that you think about the tone you kept throughout the essay. Were you truly expressing yourself or were you just listing your accomplishments?</p>

<table style="width: 100%;">
    <colgroup>
        <col span="1" style="background-color: #ae1c2d">
    </colgroup>
    <colgroup>
        <col span="1" style="background-color: #dbee0f">
    </colgroup>
    <colgroup>
        <col span="1" style="background-color: #0fee6c">
    </colgroup>

    <tr>
        <th>1 POINT</th>
        <th>2 POINTS</th>
        <th>3 POINTS</th>
    </tr>
    <tr>
        <td>Explanation</td>
        <td>Explanation</td>
        <td>Explanation</td>
    </tr>
</table>

</body>
</html>
