<!-- Dropdown: Genders  -->
<html>
  <style>
    body {
      font-size: 18px !important;
    }
    select {
      text-align: center !important;
      left: 50% !important;
    }
  </style>
  <script>
  function gen() {
      var genderList = document.getElementById("genderList");
      document.getElementById("gender").innerHTML = genderList.options[genderList.selectedIndex].text;
    }
  </script>
  <body>
<!-- Choices  -->
    <form>
      <!-- Dropdown: Gender -->
      <p id="dropdown">Please Select Your Gender:</p>
        <select id="genderList" onchange="gen()">
            <option> ---Choose Gender--- </option>  
            <option> Male </option>  
            <option> Female </option>
            <option> Other </option>  
        </select>
      <p>Your selected gender is: <font color = "#ffffc2"><t id = "gender"></t></font></p>
    </form>
  </body>
</html>
<!-- Dropdown: Ethnicity  -->
<html>
  <script>
    function eth() {
      var ethnicityList=document.getElementById("ethnicityList");
      document.getElementById("ethnicity").innerHTML=ethnicityList.options[ethnicityList.selectedIndex].text;
    }
  </script>
  <body>
<!-- Choices  -->
    <form>
      Please Select Your Ethnicity:
        <select id="ethnicityList" onchange="eth()">
            <option> ---Choose Ethnicity--- </option>  
            <option> White </option>  
            <option> Hispanic </option>  
            <option> African-American </option>  
            <option> Asian </option>  
            <option> Other </option>  
        </select>
        <!-- Creates a different color font to differentiate user input and output  -->
      <p>Your selected ethnicity is: <font color = "#ffffc2"><t id = "ethnicity"></t></font></p>
    </form>
  </body>
</html>
<!-- Dropdown: Majors  -->
<html>
  <script>
  function maj() {
      var majorList=document.getElementById("majorList");
      document.getElementById("major").innerHTML=majorList.options[majorList.selectedIndex].text;
    }
  </script>
  <body>
<!-- Choices  -->
<!-- This needs to be fixed so that the "other" can be actually explained for the user -->
    <form>
      Please Select Your Major:
        <select id="majorList" onchange="maj()">
            <option> ---Choose Major--- </option>  
            <option> Computer Science </option>  
            <option> Business </option>  
            <option> Biology </option>  
            <option> Politics </option>  
            <option> Engineering </option>  
            <option> Social Sciences </option>
            <option> English </option>
            <option> Other </option>
        </select>
      <p>Your selected major is: <font color = "#ffffc2"><t id = "major"></t></font></p>
    </form>
  </body>
</html>
<!-- Textboxes -->
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <style>
        .slidecontainer {
          width: 100%;
        }
        .sliders {
          -webkit-appearance: none;
          width: 100%;
          height: 10px;
          border-radius: 5px;
          background: #878787 !important;
          outline: none;
          opacity: 0.8;
          -webkit-transition: .2s;
          transition: opacity .2s;
        }
        .sliders:hover {
          opacity: 1;
        }
        .sliders::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: #ffffff;
          outline: #ffffff;
          cursor: pointer;
        }
        .sliders::-moz-range-thumb {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #ffffff;
          cursor: pointer;
        }
      </style>
    </head>
    <!-- GPA Slider below-->
  <body>
    <div class="slidecontainer">
      <input type="range" min="0" max="4" step="0.01" value="0" class="sliders" id="myRange">
      <p>Your GPA is: <span id="demo"></span></p>
    </div>
    <script>
      var slider = document.getElementById("myRange");
      var output = document.getElementById("demo");
      output.innerHTML = slider.value;
      slider.oninput = function() {
        output.innerHTML = this.value;
      }
    </script>
  </body>
</html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
</html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <label> How many extracurriculars have you participated in throughout high school?</label><br>
      <input type = "text" id = "ec"><br>
        <button type="button" id="ecbutton">submit</button>
      <script src="script.js">
      </script>
      <script>
        document.getElementById("ecbutton").onclick = function() {
          var ec = document.getElementById("ec").value;
          console.log("This is how many extracurriculars you are part of: ",ec);
          document.getElementById("ecResult").innerHTML = ec;
        }
  </script>
  <p>This is how many extracurriculars you have been a part of: <font color = 
  "#ffffc2"><t id = "ecResult"></t></font></p>
  </body>
</html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <label> Enter the amount of awards you have won throughout high school. </label><br>
    <input type = "text" id = "awards"><br>
      <button type="button" id="awardbutton">submit</button>
    <script src="script.js">
    </script>
    <script>
      document.getElementById("awardbutton").onclick = function() {
          var award = document.getElementById("awards").value;
          console.log("This is how many awards you have won: ",award);
          document.getElementById("awardResult").innerHTML = award;
      }
  </script>
  <p>This is how many awards you have won: <font color = "#ffffc2"><t id = "awardResult"></t></font></p>
  </body>
</html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <label> Enter the amount of leadership positions you have</label><br>
    <input type = "text" id = "lead"><br>
      <button type="button" id="leadbutton">submit</button>
    <script src="script.js">
    </script>
    <script>
      document.getElementById("leadbutton").onclick = function() {
          var lead = document.getElementById("lead").value;
          console.log("This is how many leadership positions you have: ",lead);
          document.getElementById("leadResult").innerHTML = lead;
      }
    </script>
    <p>This is how many leadership positions you have: <font color = "#ffffc2"><t id = "leadResult"></t></font></p>
  </body>
</html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <label> Enter your SAT score (if applicable)</label><br>
    <input type = "text" id = "SAT"><br>
      <button type="button" id="SATbutton">submit</button>
    <script src="script.js">
    </script>
    <script>
      document.getElementById("SATbutton").onclick = function() {
          var SAT = document.getElementById("SAT").value;
          console.log("Your SAT score is: ",SAT);
          document.getElementById("SATResult").innerHTML = SAT;
      }
  </script>
  <p>Your SAT score is: <font color = "#ffffc2"><t id = "SATResult"></t></font></p>
  </body>
</html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <label> Enter your ACT score (if applicable)</label><br>
    <input type = "text" id = "ACT"><br>
      <button type="button" id="ACTbutton">submit</button>
    <script src="script.js">
    </script>
    <script>
      document.getElementById("ACTbutton").onclick = function() {
          var ACT = document.getElementById("ACT").value;
          console.log("Your ACT score is: ",ACT);
          document.getElementById("ACTResult").innerHTML = ACT;
      }
  </script>
  <p>Your ACT score is: <font color = "#ffffc2"><t id = "ACTResult"></t></font></p>
  </body>
</html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <label> Enter your essay grade </label><br>
    <input type = "text" id = "essay"><br>
      <button type="button" id="essaybutton">submit</button>
    <script src="script.js">
    </script>
    <script>
      document.getElementById("essaybutton").onclick = function() {
          var essay = document.getElementById("essay").value;
          console.log("Your essay grade is: ",essay);
          document.getElementById("essayResult").innerHTML = essay;
      }
  </script>
  <p>Your essay grade is: <font color = "#ffffc2"><t id = "essayResult"></t></font></p>
  </body>
</html>

<button>Calculate</button>