<!-- Dropdown: Genders  -->
<html>
  <style>
    select {
      text-align: center !important;
      left: 50% !important;
    }
    div {
      padding-bottom: 10px;
    }
  </style>
  <script>
  function gen() {
      var genderList = document.getElementById("genderList");
      document.getElementById("gender").innerHTML = genderList.options[genderList.selectedIndex].text;
    }
  </script>
  <body>
<!-- Choices  -->
    <form>
      <!-- Dropdown: Gender -->
      <p style="font-size:20px;">Select Your Gender: <font color = "#ffffc2"><t id = "gender"></t></font></p>
      <div style="text-align: center;">
        <select id="genderList" style="font-size:18px; border-radius: 10px; border-color: rgb(255, 255, 255);" onchange="gen()">
            <option hidden> ---Choose Gender--- </option>  
            <option> Male </option>  
            <option> Female </option>
            <option> Other </option>
        </select>
      </div>
    </form>
  </body>
</html>
<!-- Dropdown: Ethnicity  -->
<html>
  <script>
    function eth() {
      var ethnicityList=document.getElementById("ethnicityList");
      document.getElementById("ethnicity").innerHTML=ethnicityList.options[ethnicityList.selectedIndex].text;
    }
  </script>
  <body>
<!-- Choices  -->
    <form>
      <p style="font-size:20px;">Select Your Ethnicity: <font color = "#ffffc2"><t id = "ethnicity"></t></font></p>
      <div style="text-align: center;">  
        <select id="ethnicityList" style="font-size:18px; border-radius: 10px; border-color: rgb(255, 255, 255);" onchange="eth()">
            <option hidden> ---Choose Ethnicity--- </option>  
            <option> White </option>  
            <option> Hispanic </option>  
            <option> African-American </option>  
            <option> Asian </option>  
            <option> Other </option>  
        </select>
      </div>
        <!-- Creates a different color font to differentiate user input and output  -->
    </form>
  </body>
</html>
<!-- Dropdown: Majors  -->
<html>
  <script>
  function maj() {
      var majorList=document.getElementById("majorList");
      document.getElementById("major").innerHTML=majorList.options[majorList.selectedIndex].text;
    }
  </script>
  <body>
<!-- Choices  -->
<!-- This needs to be fixed so that the "other" can be actually explained for the user -->
    <form>
      <p style="font-size:20px;">Select Your Major: <font color = "#ffffc2"><t id = "major"></t></font></p>
      <div style="text-align: center;">  
        <select id="majorList" style="font-size:18px; border-radius: 10px; border-color: rgb(255, 255, 255);" onchange="maj()">
            <option hidden> ---Choose Major--- </option>  
            <option> Computer Science </option>  
            <option> Business </option>  
            <option> Biology </option>  
            <option> Politics </option>  
            <option> Engineering </option>  
            <option> Social Sciences </option>
            <option> English </option>
            <option> Other </option>
        </select>
      </div>
    </form>
  </body>
</html>
<!-- Textboxes -->
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <style>
        .slidecontainer {
          width: 100%;
        }
        .sliders {
          -webkit-appearance: rgb(179, 179, 179);
          width: 100%;
          height: 10px;
          border-radius: 5px;
          background: #d3d3d3 !important;
          outline: none;
          opacity: 1;
          -webkit-transition: .2s;
          transition: opacity .2s;
        }
        .sliders::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: #ffffff;
          outline: #ffffff;
          cursor: pointer;
        }
        .sliders::-moz-range-thumb {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #ffffff;
          cursor: pointer;
        }
        /* colors */
        input[type='range'] {
          overflow: hidden;
          -webkit-appearance: none;
          background-color: #000000;
        }
        input[type='range']::-webkit-slider-runnable-track {
          height: 10px;
          -webkit-appearance: none;
          color: #13bba4;
          margin-top: -1px;
        }
        
        input[type='range']::-webkit-slider-thumb {
          width: 10px;
          -webkit-appearance: none;
          height: 10px;
          cursor: ew-resize;
          background: #0014cc;
          border: rgb(83, 83, 83);
          border-radius: 2px;
          box-shadow: -1000px 0 0 1000px #8987c8;
        }
      </style>
    </head>
    <!-- GPA Slider below-->
  <body>
    <p style="font-size:20px;">Select Your Unweighted GPA: <font color = "#ffffc2"><span id="GPA"></span></font></p>
    <div class="slidecontainer">
      <input type="range" min="0" max="4" step="0.01" value="0" class="sliders" id="myRange">
    </div>
    <script>
      var slider = document.getElementById("myRange");
      var output = document.getElementById("GPA");
      output.innerHTML = slider.value;
      slider.oninput = function() {
        output.innerHTML = this.value;
      }
    </script>
  </body>
</html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
</html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <p style="font-size:20px;"> Number of extracurriculars you participated in: <font color = 
      "#ffffc2"><t id = "ecResult"></t></font></p>
    <div style="text-align: center;">
      <input style="font-size:18px; border-radius: 10px; border-color: rgb(255, 255, 255);" type = "number" id = "ec">
        <button type="button" style="font-size:12px; border-radius: 10px; border-color: rgb(255, 255, 255);" id="ecbutton">Submit</button>
    </div>
      <script src="script.js">
      </script>
      <script>
            document.getElementById("ecbutton").onclick = function() {
            var ec = document.getElementById("ec").value;
            console.log("This is how many extracurriculars you are part of: ",ec);
            document.getElementById("ecResult").innerHTML = ec;
            } 
      </script>
  </body>
</html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <p style="font-size:20px;"> Amount of awards you have won: <font color = 
      "#ffffc2"><t id = "ecResult"></t></font></p>
    <div style="text-align: center;">
      <input style="font-size:18px; border-radius: 10px; border-color: rgb(255, 255, 255);" type = "number" id = "awards">
        <button type="button" style="font-size:12px; border-radius: 10px; border-color: rgb(255, 255, 255);" id="awardbutton">Submit</button>
    </div>
    <script src="script.js">
    </script>
    <script>
      document.getElementById("awardbutton").onclick = function() {
          var award = document.getElementById("awards").value;
          console.log("This is how many awards you have won: ",award);
          document.getElementById("awardResult").innerHTML = award;
      }
    </script>
  </body>
</html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <p style="font-size:20px;"> Amount of leadership positions you have: <font color = 
      "#ffffc2"><t id = "ecResult"></t></font></p>
    <div style="text-align: center;">
      <input style="font-size:18px; border-radius: 10px; border-color: rgb(255, 255, 255);" type = "number" id = "lead">
        <button type="button" style="font-size:12px; border-radius: 10px; border-color: rgb(255, 255, 255);" id="leadbutton">submit</button>
    </div>
    <script src="script.js">
    </script>
    <script>
      document.getElementById("leadbutton").onclick = function() {
          var lead = document.getElementById("lead").value;
          console.log("This is how many leadership positions you have: ",lead);
          document.getElementById("leadResult").innerHTML = lead;
      }
    </script>
  </body>
</html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <p style="font-size:20px;"> Select your SAT score (if applicable): <font color = 
      "#ffffc2"><t id = "ecResult"></t></font></p>
    <input type = "text" id = "SAT"><br>
      <button type="button" id="SATbutton">submit</button>
    <script src="script.js">
    </script>
    <script>
      document.getElementById("SATbutton").onclick = function() {
          var SAT = document.getElementById("SAT").value;
          console.log("Your SAT score is: ",SAT);
          document.getElementById("SATResult").innerHTML = SAT;
      }
  </script>
  <p>Your SAT score is: <font color = "#ffffc2"><t id = "SATResult"></t></font></p>
  </body>
</html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <label> Enter your ACT score (if applicable)</label><br>
    <input type = "text" id = "ACT"><br>
      <button type="button" id="ACTbutton">submit</button>
    <script src="script.js">
    </script>
    <script>
      document.getElementById("ACTbutton").onclick = function() {
          var ACT = document.getElementById("ACT").value;
          console.log("Your ACT score is: ",ACT);
          document.getElementById("ACTResult").innerHTML = ACT;
      }
  </script>
  <p>Your ACT score is: <font color = "#ffffc2"><t id = "ACTResult"></t></font></p>
  </body>
</html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <label> Enter your essay grade </label><br>
    <input type = "text" id = "essay"><br>
      <button type="button" id="essaybutton">submit</button>
    <script src="script.js">
    </script>
    <script>
      document.getElementById("essaybutton").onclick = function() {
          var essay = document.getElementById("essay").value;
          console.log("Your essay grade is: ",essay);
          document.getElementById("essayResult").innerHTML = essay;
      }
  </script>
  <p>Your essay grade is: <font color = "#ffffc2"><t id = "essayResult"></t></font></p>
  </body>
</html>
<!-- Still need to incorporate API for this calculation button to actually work  -->
<button>Calculate</button>